@import 'constants/constants.scss';
@import 'add-item-form/add-item-form.scss';
@import 'output-item/output-item.scss';
.preloader {
    background: rgba(255, 255, 255, .8);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    img {
        height: 50px;
    }
}

.cursor {
    cursor: pointer;
}